{% extends "layout.html" %}
{% block body %}
<div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card darken-1">
                <div class="card-content black-text">
                    <h4>Rooms</h4>
                    <div class="collection" style="height:20em;overflow:auto;">
                        <a href="#!" class="collection-item">Room 1 (0/5)</a>
                        <a href="#!" class="collection-item active">Room 2 (0/5)</a>
                        <a href="#!" class="collection-item">Room 3 (2/5)</a>
                        <a href="#!" class="collection-item">Room 4 (0/5)</a>
                        <a href="#!" class="collection-item">Room 5 (0/5)</a>
                        <a href="#!" class="collection-item">Room 6 (0/5)</a>
                        <a href="#!" class="collection-item">Room 7 (0/5)</a>
                        <a href="#!" class="collection-item">Room 8 (0/5)</a>
                    </div>
                    <div class="right-align">
                        <a class="btn-floating btn-large waves-effect waves-light green"><i class="mdi-content-add"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% if 'account_id' in session %}
        <div class="col s12 m6">
            <div class="card darken-1">
                <div class="card-content black-text">
                    <h4>Votre personnage</h4>
                    {% if 'avatar_id' in session %}
                    {% for item in user_avatar%}
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Informations de Base</div>
                            <div class="collapsible-body">
                                <p>Nom du personnage: {{ item['Avatar'].name }}</p>
                                <p>Race: {{ item['Race'].name }}</p>
                                <p>Profession: {{ item['Metier'].name }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Caractéristiques</div>
                            <div class="collapsible-body">
                                <p>Courage: {{ item['Carac'].COU }}</p>
                                <p>Intelligence: {{ item['Carac'].INT }}</p>
                                <p>Charisme:  {{ item['Carac'].CHA }}</p>
                                <p>Addresse: {{ item['Carac'].AD }}</p>
                                <p>Force: {{ item['Carac'].FO }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Statistiques</div>
                            <div class="collapsible-body">
                                <p>PV: {{ item['Carac'].PV }}</p>
                                <p>PM: {{ item['Carac'].PM }}</p>
                                <p>AT: {{ item['Carac'].AT }}</p>
                                <p>PRD: {{ item['Carac'].PRD }}</p>
                                <p>PO: {{ item['Carac'].PO }} $</p>
                                <p>PdD: {{ item['Carac'].PointDestin }}</p>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                    {% else %}
                    {% if avatar_base_stats %}
                    <form method="post" action="/create/{{ session.account_id }}/character" class="col s12">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">Qui est-tu ?</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <label>Nom de personnage :</label>
                                        <div class="input-field col s12">
                                            <input id="name" name="name" type="text" placeholder="Nom de Personnage" class="validate">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label>Choose your race :</label>
                                        <select id="race" name="race" class="valide">
                                            {% for race in avatar_race %}
                                            {{ race.name }}
                                            <option value="{{ race.id }}">{{ race.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row">
                                        <label>Choose your class :</label>
                                        <select id="avatar" name="profession" class="valide">
                                            {% for class in avatar_class %}
                                            {{ class.name }}
                                            <option value="{{ class.id }}">{{ class.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">Vos caractéristiques</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <label>Adresse :</label>
                                        <div class="input-field col s12">
                                            <input id="AD" name="AD" type="text" value="{{ avatar_base_stats.AD }}" class="validate" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label>Charisme :</label>
                                        <div class="input-field col s12">
                                            <input id="CHA" name="CHA" type="text" value="{{ avatar_base_stats.CHA }}" class="validate" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label>Intelligence :</label>
                                        <div class="input-field col s12">
                                            <input id="INT" name="INT" type="text" value="{{ avatar_base_stats.INT }}" class="validate" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label>Courage :</label>
                                        <div class="input-field col s12">
                                            <input id="COU" name="COU" type="text" value="{{ avatar_base_stats.COU }}" class="validate" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label>Force :</label>
                                        <div class="input-field col s12">
                                            <input id="FO" name="FO" type="text" value="{{ avatar_base_stats.FO }}" class="validate" readonly>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">Vos statistiques</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <label>Points de vie :</label>
                                        <div class="input-field col s12">
                                            <input id="PV" name="PV" type="text" value="{{ avatar_stats.PV }}" class="validate" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label>Points de Magie :</label>
                                        <div class="input-field col s12">
                                            <input id="PM" name="PM" type="text" value="{{ avatar_stats.PM }}" class="validate" readonly>
                                        </div>
                                        <div class="row">
                                            <label>Attaque :</label>
                                            <div class="input-field col s12">
                                                <input id="AT" name="AT" type="text" value="{{ avatar_stats.AT }}" class="validate" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label>Parade :</label>
                                            <div class="input-field col s12">
                                                <input id="PRD" name="PRD" type="text" value="{{ avatar_stats.PRD }}" class="validate" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label>Pièces d'Or (du nain, ce ne sont pas les tiennes) :</label>
                                            <div class="input-field col s12">
                                                <input id="PO" name="PO" type="text" value="{{ avatar_stats.PO }}" class="validate" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label>Points de destin :</label>
                                            <div class="input-field col s12">
                                                <input id="PdD" name="PdD" type="text" value="{{ avatar_stats.PdD }}" class="validate" readonly>
                                            </div>
                                        </div>
                                    </div>
                            </li>
                        </ul>
                        <div class="row">
                            <button type="submit" class="waves-effect waves-light btn-large green" style="overflow:inherit;">Validate</button>
                        </div>
                    </form>
                    <p class="caption">No troll please, don't be a douchbag with a no roleplay character name like "naheu92"</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}