{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col s4 m4">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        {% if session.MJ == True%}
                        <video style ="height:135px;" id="localVideo" autoplay muted></video>
                        {% else %}
                        <video style ="height:135px;" id="remoteVideo" autoplay muted></video>
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <p>Username - MJ</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img style="height:135px;" class="activator" src="http://www.mikerayhawk.com/images/castle_evil_pt.jpg">
                    </div>
                    <div class="card-content">
                        <span class="activator grey-text text-darken-4">Resume<i class="mdi-navigation-more-vert right"></i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Image Context <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h5>Commandes Joueur</h5>
            <p>/whois {username} (stats d'un joueur)</p>
            <p>/roll 20</p>
            <p>/roll 6</p>
        </div>
        <div class="row">
            <h5>Commandes GM</h5>
            <p>/whois {username} </p>
            <p>/generate {nom du monstre} (génére un monstre)</p>
            <p>/monster {nom du monstre} (affiche les stats du monstre sur le chat)</p>
            <p>/roll 20</p>
            <p>/roll 6</p>
        </div>
    </div>
    <div class="col s8 m8">
        <div class="row">
            <div class="chat row" style="height:22em; overflow:auto;">

            </div>
            <div class="row" style="margin-top:30px;">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12 m10">
                            <textarea id="content" class="materialize-textarea"></textarea>
                            <label>Textarea</label>
                        </div>
                        <div class="col s2 m2" style="margin-top:3em;">
                            <a id="ceProjetEstPalpitant" class="waves-effect waves-light btn">Send</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="modal1" class="modal">
        <h4>Modal Header</h4>
        <div id="character_info"></div>
        <div class="action-bar">
            <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/webrtc-adapter.js') }}"></script>
<script src="{{ url_for('static', filename='js/webrtc-client.js') }}"></script>
<script>
(function () {
    var get, post, uri, id;
    get = new XMLHttpRequest();
    post = new XMLHttpRequest();
    whois = new XMLHttpRequest();
    uri = document.URL;
    id = uri.match(/player\/[0-9]+/) || uri.match(/gm\/[0-9]+/);
    id = id[0].substr(7) || id[0].substr(3);
    document.querySelector('#ceProjetEstPalpitant').addEventListener('click', function () {
        var content;
        content = document.querySelector('#content').value || '';
        if (content.length) {
            if (content.match(/\/whois ([\S])+/)) {
                var sx = content.match(/\/whois ([\S]+)/);
                 whois.onreadystatechange = function () {
                    if (whois.readyState === 4 && whois.status === 200) {
                        var i;
                        response = JSON.parse(whois.responseText);
                        $.each(response.result, function(key, value) {
                            var elem = document.createElement('p');
                            $(elem).html(key + ': ' + value);
                            $('#character_info').append(elem);
                        });
                        console.debug(response);
                          $(document).ready(function(){
                             $('#modal1').openModal();
                          });
                    }
                }
                whois.open('POST', '/wat', true);
                whois.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                whois.send('nickname=' + sx[1]);
            } else if (!content.match(/\/(.)+/)) {
                get.open('POST', '/room/message/' + id + '/send', true);
                get.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                get.send('content=' + content);
                document.querySelector('.chat').innerHTML = '<div class="col s12 m12"><div class="card-panel"><div class="card-title"><strong>Vous :</strong></div><span class="black-text">' + content + '</span></div></div>' + document.querySelector('.chat').innerHTML;
            }
            document.querySelector('textarea').value = '';
        }
    });
    setInterval(function () {
        post.open('GET', '/room/message/' + id + '/get', true);
        post.send();
        post.onreadystatechange = function () {
            if (post.readyState == 4 && post.status == 200) {
                var i;
                i = JSON.parse(post.responseText);
                document.querySelector('.chat').innerHTML = '';
                for (var c in i.results) {
                    document.querySelector('.chat').innerHTML += '<div class="col s12 m12"><div class="card-panel"><div class="card-title"><strong>' + i.results[c].character_name + ' :</strong></div><span class="black-text">' + i.results[c].message + '</span></div></div>';
                }
            }
        }
    }, 2000);
})();
</script>
{% endblock %}