{% if request.path != '/register' and request.path != '/login' %}
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Naheulbeuk</a>
        <ul id="nav-mobile" class="right side-nav">
            {% if session.nickname %}
            <li><a href="/account">{{ session.nickname|e }}</a></li>
            <li><a href="/logout">Déconnexion</a></li>
            {% else %}
            <li><a href="/login">Connexion</a></li>
            <li><a href="/register">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endif %}