<!DOCTYPE html>
<html>
    <head>
        <title>Naheulbeuk</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection">
    </head>
    <body>
        <header>
            {% include 'common/header.html' %}
        </header>
        {% block body %}{% endblock %}
        <footer>
            {% include 'common/footer.html' %}
        </footer>
    </body>
</html>