{% if error %}
{{ error }}
{% endif %}

<div class="col s12 m4 l8">
    <h2>Inscription</h2>
    <form method="post" action="#" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" name="username" type="text" placeholder="Pseudo" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="text" placeholder="E-Mail" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" placeholder="Password" class="validate">
            </div>
        </div>
        <div class="row">
            <button type="submit" class="waves-effect waves-light btn-large green" style="overflow:inherit;">Valider</button>
            <!--<a class="waves-effect waves-light btn-large blue">Registration</a>-->
            <a class="waves-effect waves-light btn-large blue" style="overflow:inherit;" href="/login">Connexion</a>
            <a class="waves-effect waves-light btn-large grey" style="overflow:inherit;" href="/">Retour à l'accueil</a>
        </div>
    </form>
    <p class="caption">No troll please, don't be a douchbag with a no roleplay character name like "naheu92"</p>
</div>