{% if error %}
    {{ error }}
{% endif %}

<div class="col s12 m4 l8">
    <h2>Login</h2>
    <form method="post" action="#" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" name="username" type="text" placeholder="Pseudo" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" placeholder="Mot de passe" class="validate">
            </div>
        </div>
        <div class="row">
            <button type="submit" class="waves-effect waves-light btn-large green" style="overflow:inherit;">Valider</button>
            <a class="waves-effect waves-light btn-large blue" style="overflow:inherit;" href="/register">S'inscrire</a>
            <a class="waves-effect waves-light btn-large grey" style="overflow:inherit;">Retour à l'accueil</a>
        </div>
    </form>
</div>